* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
    /* overflow: none; */
}

.app {
    display: flex;
    width: 100%;
}

.maincontent {
    width: 100vw;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Lora:wght@400;500;600;700&display=swap'); 

/* Utilities  */
.back {
    height: 92vh;
    background: #f7f7f7;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    font-size: 1.5rem;
    margin-bottom: 10px;
}