.payment {
  padding: 10px 50px 0px 0px;
}
.head .header {
  text-align: center;
}
.head p {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}
.pay {
  margin-top: 20px;
  width: 100%;
  background: #ffffff;
  display: flex;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
}
.pay h5 {
  margin-top: 20px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-left: 30px;
}
.pay p {
  margin-bottom: 50px;
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 30px;
  width: 50%;
}
.pay h6 {
  font-size: 0.93rem;
  font-weight: 600;
  margin-left: 30px;
}
.box {
  border: 1px solid #c867e2;
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 20px;
}
.iconss {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.box .contner {
    display: flex;
    align-items: center;
}
.box p {
  font-weight: 550;
  margin-bottom: 5px;
  margin-left: 0;
  font-size: 0.7rem;
  font-weight: 500;
  width: 100%;
}
.box h6 {
    font-weight: 500;
    font-size: 0.7rem;
    margin-left: 0;
}
.bttns2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 10px;
 } 
.butn {
  border: none;
  padding: 8px 22px;
  width: 120px;
  margin: 0 4px;
  font-family: "Lora";
  font-weight: 600;
  font-size: 0.7rem;
}
.btn-pry {
  background: #c867e2;
  color: #fff;
}
.btn-white {
  background: #fff;
  border: 1px solid #c867e2;
  margin-left: 30px;
}
